In [1]:
from twilio.rest import Client
account_sid = 'AC8b80886d69a9d2053bfa7c1fa3a89667'
auth_token = 'df65aba35a2b1b1cf2366ac245e8a794'
client = Client(account_sid, auth_token)

In [2]:
import pandas as pd

from sklearn.model_selection import train_test_split

In [3]:
dataSet = pd.read_csv('CKD.csv')

In [4]:
dataSet.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.0200,1.0,0.000000,121.000000,36.0,1.2,137.528754,4.627244,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,9.0,55.0,1.0200,4.0,0.000000,148.036517,18.0,0.8,137.528754,4.627244,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,62.0,80.0,1.0100,2.0,1.125356,223.500000,53.0,1.8,137.528754,4.627244,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.0075,4.0,0.000000,117.000000,56.0,3.8,126.000000,2.800000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.0100,2.0,0.000000,106.000000,26.0,1.4,137.528754,4.627244,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [5]:
dataSet['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [6]:
dataSet.loc[dataSet['classification'] == 'ckd\t', 'classification'] = 'yes'
dataSet.loc[dataSet['classification'] == 'ckd', 'classification'] = 'yes'
dataSet.loc[dataSet['classification'] == 'notckd', 'classification'] = 'no'

In [7]:
dataSet['classification'].value_counts()

yes    250
no     150
Name: classification, dtype: int64

In [8]:
dataSet = pd.get_dummies(dataSet, drop_first = True)

In [9]:
dataSet.shape

(400, 208)

In [10]:
independent = dataSet.drop('classification_yes', 1)
dependent = dataSet['classification_yes']

In [11]:
independent.head(2)

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,htn_yes,dm_\tyes,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes
0,48.0,80.0,1.02,1.0,0.0,121.000000,36.0,1.2,137.528754,4.627244,...,1,0,0,0,1,1,0,0,0,0
1,9.0,55.0,1.02,4.0,0.0,148.036517,18.0,0.8,137.528754,4.627244,...,0,0,0,1,0,1,0,0,0,0

In [12]:
dependent.head(2)

0    1
1    1
Name: classification_yes, dtype: uint8

# split the train and test datas

In [13]:
xTrain, xTest, yTrain, yTest = train_test_split(independent, dependent, test_size = 0.25, random_state = 0)

# Backward feature selection

In [14]:
from sklearn.feature_selection import SequentialFeatureSelector

In [15]:
from sklearn.ensemble import RandomForestClassifier # Random forest classifier

In [16]:
classifier = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 0)

In [17]:
classifier

RandomForestClassifier(criterion='entropy', n_estimators=50, random_state=0)

In [18]:
backwardFeatureSelction = SequentialFeatureSelector(classifier, 
                                                   n_features_to_select=4, 
                                                   direction='backward', 
                                                   scoring= 'accuracy' 
                                                    )

In [ ]:
backwardFeatureSelction.fit(xTrain, yTrain)

In [ ]:
selectedColumns = list(backwardFeatureSelction.get_feature_names_out())
if selectedColumns:
    message = client.messages.create(
    body='successfully completed',
    from_='+12564748579',
    to='+919994045264'
    )

In [ ]:
xTrain[selectedColumns]