In [1]:
import pandas as pd

In [2]:
dataSet = pd.read_csv('CKD.csv')

In [3]:
dataSet.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.0200,1.0,0.000000,121.000000,36.0,1.2,137.528754,4.627244,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,9.0,55.0,1.0200,4.0,0.000000,148.036517,18.0,0.8,137.528754,4.627244,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,62.0,80.0,1.0100,2.0,1.125356,223.500000,53.0,1.8,137.528754,4.627244,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.0075,4.0,0.000000,117.000000,56.0,3.8,126.000000,2.800000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.0100,2.0,0.000000,106.000000,26.0,1.4,137.528754,4.627244,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
dataSet['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [5]:
dataSet.loc[dataSet['classification'] == 'ckd', 'classification'] = 'yes' 
dataSet.loc[dataSet['classification'] == 'ckd\t', 'classification'] = 'yes' 
dataSet.loc[dataSet['classification'] == 'notckd', 'classification'] = 'no'

In [6]:
dataSet['classification'].value_counts()

yes    250
no     150
Name: classification, dtype: int64

In [7]:
dataSet = pd.get_dummies(dataSet, drop_first = True)

In [8]:
dataSet.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,dm_\tyes,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes,classification_yes
0,48.0,80.0,1.0200,1.0,0.000000,121.000000,36.0,1.2,137.528754,4.627244,...,0,0,0,1,1,0,0,0,0,1
1,9.0,55.0,1.0200,4.0,0.000000,148.036517,18.0,0.8,137.528754,4.627244,...,0,0,1,0,1,0,0,0,0,1
2,62.0,80.0,1.0100,2.0,1.125356,223.500000,53.0,1.8,137.528754,4.627244,...,0,0,0,1,1,0,1,0,1,1
3,48.0,70.0,1.0075,4.0,0.000000,117.000000,56.0,3.8,126.000000,2.800000,...,0,0,1,0,1,0,1,1,1,1
4,51.0,80.0,1.0100,2.0,0.000000,106.000000,26.0,1.4,137.528754,4.627244,...,0,0,1,0,1,0,0,0,0,1

In [9]:
independent = dataSet.drop('classification_yes', 1).values
dependent = dataSet['classification_yes'].values

In [10]:
independent

array([[48.   , 80.   ,  1.02 , ...,  0.   ,  0.   ,  0.   ],
       [ 9.   , 55.   ,  1.02 , ...,  0.   ,  0.   ,  0.   ],
       [62.   , 80.   ,  1.01 , ...,  1.   ,  0.   ,  1.   ],
       ...,
       [12.   , 80.   ,  1.02 , ...,  0.   ,  0.   ,  0.   ],
       [17.   , 60.   ,  1.025, ...,  0.   ,  0.   ,  0.   ],
       [58.   , 80.   ,  1.025, ...,  0.   ,  0.   ,  0.   ]])

In [11]:
dependent

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=uint8)

# split the train and test

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xTrain, xTest, yTrain, yTest = train_test_split(independent, dependent, test_size = 0.25)

# standard scaler

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xTrain = sc.fit_transform(xTrain)
xTest = sc.transform(xTest)

# linear discriminant analysis

In [15]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [16]:
lda = LinearDiscriminantAnalysis(n_components = 3)
xTrain = lda.fit_transform(xTrain, yTrain)
xTest = lda.transform(xTest)

C:\Users\REVANTH KUMAR\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:466: ChangedBehaviorWarning: n_components cannot be larger than min(n_features, n_classes - 1). Using min(n_features, n_classes - 1) = min(207, 2 - 1) = 1 components.
  ChangedBehaviorWarning)
C:\Users\REVANTH KUMAR\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:472: FutureWarning: In version 0.23, setting n_components > min(n_features, n_classes - 1) will raise a ValueError. You should set n_components to None (default), or a value smaller or equal to min(n_features, n_classes - 1).
  warnings.warn(future_msg, FutureWarning)
C:\Users\REVANTH KUMAR\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [17]:
xTrain

array([[ 3.34807438],
       [ 3.3657923 ],
       [-5.03543304],
       [-4.52933416],
       [ 3.34807438],
       [-4.88492269],
       [ 1.6788021 ],
       [ 3.19630608],
       [-5.14188369],
       [ 3.99925735],
       [ 3.19630608],
       [ 5.58409889],
       [ 3.11257923],
       [ 2.65840874],
       [ 2.93644947],
       [ 4.44936161],
       [-4.91260659],
       [ 3.19630608],
       [-4.86218266],
       [ 5.1547928 ],
       [-5.98310174],
       [-4.50551761],
       [-5.51859733],
       [-5.14188369],
       [-4.78546811],
       [-5.14188369],
       [ 3.19630608],
       [ 3.73527189],
       [ 3.19630608],
       [-3.94149758],
       [ 2.50106941],
       [-4.93776111],
       [-5.25353147],
       [-3.72408454],
       [ 3.19630608],
       [-4.43681978],
       [ 3.0571132 ],
       [ 1.7586407 ],
       [-5.06586806],
       [-4.52915108],
       [-7.27944904],
       [ 5.02502129],
       [-5.4211114 ],
       [-4.57627056],
       [ 4.41443835],
       [ 3.19630608],
       [-4.52255985],
       [ 2.56773095],
       [-5.14188369],
       [ 2.68669662],
       [ 3.19630608],
       [ 3.19630608],
       [ 3.12251666],
       [-4.65001885],
       [-4.12126795],
       [ 2.49440839],
       [-5.11825022],
       [ 3.04453778],
       [ 3.57746039],
       [ 2.84618056],
       [-3.34205069],
       [-5.21789932],
       [-5.03736208],
       [ 1.93836436],
       [-5.93694179],
       [ 3.19630608],
       [ 3.70366958],
       [ 3.73556678],
       [-1.34896267],
       [ 3.10942756],
       [-3.96360746],
       [-4.96443481],
       [-5.04867087],
       [-5.85029683],
       [ 4.1429366 ],
       [ 3.19630608],
       [-4.63227423],
       [ 2.81293419],
       [ 3.19630608],
       [-5.14188369],
       [ 2.43479126],
       [-0.95654082],
       [ 2.81224479],
       [-6.27426326],
       [ 2.21013423],
       [ 3.28137422],
       [ 1.20406501],
       [ 1.19557038],
       [-5.57195821],
       [-4.60398635],
       [ 3.19630608],
       [ 3.18797072],
       [ 3.88554993],
       [-5.0955392 ],
       [ 2.09949112],
       [ 4.26953354],
       [ 3.18797072],
       [ 4.47178013],
       [-5.68873462],
       [ 2.33947387],
       [-5.31933258],
       [ 2.37505088],
       [-5.34662878],
       [-5.53366837],
       [ 3.72246373],
       [ 3.19630608],
       [ 3.21480777],
       [ 5.00967519],
       [-5.14188369],
       [ 2.22879829],
       [ 2.80465642],
       [-5.82721946],
       [ 2.94281714],
       [ 1.98775947],
       [ 3.19630608],
       [ 2.74421879],
       [ 3.19630608],
       [ 3.30231872],
       [-2.77086309],
       [ 3.20464144],
       [ 1.88192942],
       [ 3.28288298],
       [ 3.19630608],
       [ 3.19630608],
       [ 3.70591554],
       [ 3.49629638],
       [ 3.66714138],
       [-5.00981838],
       [ 3.08974332],
       [ 0.82800949],
       [-5.38245895],
       [-5.91353141],
       [-5.77824978],
       [ 4.14819692],
       [ 3.19630608],
       [-5.21272373],
       [ 0.59994811],
       [ 3.37295579],
       [-5.70668838],
       [-5.29630732],
       [-4.30066564],
       [-5.39884469],
       [ 2.77456692],
       [-4.88649137],
       [ 3.19630608],
       [-5.27188746],
       [ 1.67205628],
       [ 3.19027487],
       [-5.39727601],
       [ 3.19630608],
       [ 3.19630608],
       [ 2.47030678],
       [-4.96322461],
       [ 3.19630608],
       [ 2.70116462],
       [-5.01187993],
       [ 1.74805226],
       [-4.88839475],
       [ 4.43170408],
       [ 3.0196778 ],
       [-5.43890671],
       [ 3.75624414],
       [ 4.19378328],
       [ 3.36109211],
       [-4.91224602],
       [ 3.70005325],
       [ 2.12307861],
       [ 4.16951655],
       [ 2.50527708],
       [ 3.14408504],
       [ 3.14352231],
       [-4.58037756],
       [ 4.56698163],
       [ 3.35312546],
       [-5.16482263],
       [-5.14188369],
       [ 3.19630608],
       [-4.63464363],
       [ 2.81528247],
       [ 1.97209025],
       [-5.27102981],
       [-5.3594476 ],
       [ 3.11123793],
       [-4.87462521],
       [ 3.19630608],
       [ 2.11672436],
       [-1.94749873],
       [-5.60623544],
       [-3.76550894],
       [-5.76246267],
       [ 3.19630608],
       [-5.1674523 ],
       [ 3.19630608],
       [ 3.80623008],
       [ 0.56249406],
       [-4.24689748],
       [-4.93178658],
       [-0.23905942],
       [ 3.19630608],
       [ 1.73506594],
       [ 3.19630608],
       [-2.87234383],
       [ 3.21780069],
       [-3.93646044],
       [ 3.31332485],
       [ 3.19630608],
       [-5.39352748],
       [ 3.19630608],
       [ 0.98044835],
       [ 1.96649553],
       [ 5.30039043],
       [ 1.86829333],
       [-5.57668462],
       [-4.28577054],
       [ 3.77511668],
       [ 3.19630608],
       [ 3.19630608],
       [ 3.52473766],
       [ 3.19630608],
       [ 2.07355382],
       [ 3.61804524],
       [ 3.19630608],
       [-4.77407692],
       [-5.43625709],
       [ 0.51968371],
       [-5.48922841],
       [-3.71683511],
       [ 2.2930666 ],
       [ 1.09564632],
       [ 2.54138901],
       [ 4.45305559],
       [-4.39091422],
       [ 3.5560491 ],
       [-5.13369887],
       [ 3.01764699],
       [ 3.19630608],
       [ 2.921477  ],
       [ 3.19630608],
       [ 3.25190875],
       [-4.70708277],
       [ 2.80058946],
       [ 3.9365064 ],
       [ 2.59659165],
       [ 3.6263806 ],
       [ 2.97855316],
       [-4.52324304],
       [-5.84130238],
       [ 3.19630608],
       [-0.53365954],
       [-5.43591588],
       [ 3.19630608],
       [ 1.74592839],
       [-2.73910863],
       [-4.60321759],
       [ 3.03152005],
       [ 3.44794987],
       [ 3.19630608],
       [ 1.75813485],
       [ 2.26256886],
       [-5.37152136],
       [-6.12842784],
       [ 2.01729942],
       [-5.953006  ],
       [-4.7578224 ],
       [-5.94568935],
       [-3.6038694 ],
       [-5.67579206],
       [ 4.33282603],
       [ 3.66789795],
       [ 2.50643311],
       [ 3.19630608],
       [-5.57665788],
       [-3.66263609],
       [ 1.4249578 ],
       [ 3.35404591],
       [-0.24526534],
       [-5.14188369],
       [ 3.20464144],
       [ 3.19630608],
       [ 1.23924694],
       [ 2.81059635],
       [ 1.87121987],
       [ 3.19630608],
       [-4.71624372],
       [-6.57135956],
       [ 3.47553378],
       [-2.8141539 ],
       [ 3.34807438],
       [ 2.25577067],
       [ 3.30795385],
       [ 1.68858726],
       [ 1.16569057],
       [ 3.19630608],
       [-5.41148947],
       [ 3.19630608],
       [-5.14188369],
       [ 4.8704542 ],
       [ 3.04583622],
       [ 1.02249427],
       [ 3.18797072]])